{
    "extends": "airbnb",
    "env": {
        "es6": true
    }
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    }
}
