*.swp
.DS_Store
.oh-my-zsh/
!.oh-my-zsh/themes/luciano.zsh-theme
.vim/plugged
.config/janbar/noson.conf
.config/.mono/
.config/configstore/
.config/filezilla/
.config/thefuck/
.config/yarn/
.config/Code - OSS/
.config/Slack/
.config/chromium/
.config/coc/
.config/dconf/
.config/libreoffice/
.config/mpd/
.config/mutt/
.config/pulse/
.config/gatsby
.config/inkscape
.config/msmtp/
.config/mutt
.config/mutt-wizard
.config/OpenRCT2/
.config/Postman/
.config/QtProject.conf
.config/kritadisplayrc
.config/kritarc
.config/menus/
.config/surf/
.config/htop/
.config/darktable/
.config/GIMP/
.config/sanity/
.config/gconf/
.config/autostart/
.config/protonmail/
.config/Hyper
.config/mimeapps.list
.vagrant/
.mozilla/
*.log
